* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header section */
.header {
    margin: 0 10px;
    display: flex;
}

.header-logo {
    width: 30%;
}

.header-logo img {
    width: 70%;
    margin: 20px 0;
    cursor: pointer;
}

.header-post {
    width: 70%;
    padding: 25px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.header-post .post {
    display: flex;
    border-left: 1.5px solid #E0E0E0;
    padding-left: 15px;
}

.header-post .post a {
    text-decoration: none;
    color: #231F20;
    font-size: 14px;
    line-height: 28px;
    transition: all ease-in-out .1s;
}

.header-post .post a:hover {
    color: #0573E6;
}

.header-post .post img {
    width: 65px;
    height: 65px;
    margin-right: 10px;
    cursor: pointer;
}

.header-post .post img:hover {
    transform: scale(1.01);
}

.header-post .post i {
    color: #D60000;
    font-size: 12px;
    margin-right: 5px;
}

.header-post .post-one {
    border: 0;
}

/* header section end */

/* navigation section */
.navigation {
    border: 1px solid #e0e0e0;
    display: flex;
}

.navbar .container-fluid {
    padding: 12px 0 12px 10px;
    margin-right: 100px;
}

.navbar-nav {
    gap: 20px;
}

.nav-link {
    color: #231f20 !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    padding: 0 !important;
    transition: all ease-in-out .1s !important;
}

.nav-link:hover {
    color: #0573E6 !important;
}

.nav-btn {
    border: 0;
    border-right: 1px solid #e0e0e0;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 300;
    color: #525252;
    transition: all ease-in-out .1s;
}

.nav-btn i {
    font-size: 22px;
}

.nav-btn:hover {
    color: #0573E6;
}

.search-btn {
    border-left: 1px solid #e0e0e0;
}

.language-btn {
    border-left: 0;
    font-weight: 400;
    font-size: 16px;
    background-color: #fbe9e7;
}

.account-btn img {
    width: 35px;
    border-radius: 50%;
}

.account-btn i {
    font-size: 16px !important;
    margin-left: 10px;
}

.bar-btn i {
    padding: 5px;
}

/* navigation section end */

/* Ad section */
.ad-section {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;
    border-top: 2px solid #9e9e9e;
}

.ad-section .banner {
    width: 970px;
    height: 90px;
    position: relative;
}

.ad-section .ad-btn {
    position: absolute;
    top: 1px;
    border: 0;
    font-size: 11px;
    background-color: #ffffff;
    padding-bottom: 1px !important;
}

.ad-section .btn-wrapper:hover .ad-hover {
    display: block;
}

.ad-section .google-play-btn {
    color: #6fc4eb;
    padding: 0 3px;
    right: 18px;
}

.ad-section .ellipsis-btn {
    right: 1.5px;
    padding: 0px 6.5px;
}

.ad-hover {
    display: none;
    position: absolute;
    top: 1px;
    right: 35px;
    background-color: #d3d3d3;
    font-size: 10px;
    height: 17px;
    padding: 0px 6px;
    font-weight: bold;
    font-family: serif;
    cursor: pointer;
    border-bottom-left-radius: 5px;
}

/* Ad section end */